@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.add-word-dialog-mobile .mat-mdc-dialog-surface {
  height: 100vh;
  max-height: 100vh;
  border-radius: 0;
}
